{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="flash">
				{% with flashed_messages = get_flashed_messages()  %}
					{% if flashed_messages %}
						<ul>
						{% for flashed_message in flashed_messages %}
							<li><b>{{ flashed_message }}</b></li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>

	<div class="row">
			<div class="col-3 right_body">
			</div>

			<div class="col-7 right_body">
				<h1>Edit your item in our catalog!</h1>
				<form method='post' enctype='multipart/form-data'>
					Name<br>
					<input name="name" value="{{name}}" type="text">
					<br>
					<br>
					Category<br>
						<select name="category_id">
								{% for category in categories %}
									{% if category.id == cat %}
										<option selected="on" value="{{category.id}}">{{category.name}}</option>
									{% else %}
				        				<option value="{{category.id}}">{{category.name}}</option>
				        			{% endif %}
								{% endfor %}
						</select>
					<br>
					<br>
					Description<br>
					<textarea name='description'>{{description}}</textarea>
					<br>
					<br>
					<input value='Edit Item' type='submit'>
					<a href="{{url_for('getItem', item_id=item.id, category_id=item.category.id)}}">cancel</a>
				</form>
			</div>

			<div class="col-2 right_body">
			</div>
	</div>


{% endblock %}